* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    background-color: #f4f4f4;
    position: relative;
    background-color: rgb(40, 66, 107);
    animation: FadeIn 0.8s ease-in 1 both;
}

.menu a:nth-child(1) {
    color: rgb(255, 255, 255);
}

.menu a:hover {
    color: rgb(75, 75, 75);
}


/* .menu a li {} */


/* .content {} */

.content .topic {
    width: 60%;
    margin: 0 auto;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px 0;
}


/* .content .item {} */

.content .home {
    max-width: 100%;
    height: 600px;
    background-image: url(../Elements/MST\ Banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    transition: 0.4s;
    background-color: rgb(40, 66, 107);
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}