/* ========== Main Logo Gif ========== */
.Logo_Container{
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: auto;
}

.Logo_video{
    width: 100%;
    height: 100%;
}

.hidenBox{
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: #01466C;
}

.Explore{
    position: fixed;
    bottom: 80px;
    left:85%;
    border-radius:10px;
    background-color: var(--dark-blue-bg-2);
    z-index: 1;
    transition:0.3s;
}

.Explore, .Explore::after:hover, .Explore::before:hover{
    transform:translateY(-10%);
    background-color: var(--dark-blue-bg-3);
}


@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.Explore::after, .Explore::before{
    content: '';
    position: absolute;
    top: 50%;  
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), rgb(255, 128, 0), rgb(255, 238, 0), rgb(119, 255, 0), rgb(0, 255, 247), rgb(0, 123, 255), rgb(162, 0, 255), rgb(255, 0, 221) );
    border-radius: 10px;
    z-index: -1;
    padding: 3px;
    animation: 3s spin linear infinite;
}

.Explore::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

.Explore:hover{
    transform: translateY(-15%);
}

.Explore .innerTxt{
    background-color: #016093;
    padding: 10px 30px;
    color: #ffffff;
    border-radius:10px;
    transition: 0.3s;
}

.Explore .innerTxt:hover{
    background-color: #0686cb;
}

@media (max-width:1024px) {
    .Explore{
        /* display: block; */
        left:75%;
    }
}

@media (max-width:786px) {
    .Explore{
        left:70%;
    }
    
    .Explore .innerTxt{
        font-size: 12px;
    }
}

@media (max-width:430px) {
    .Logo_Animation{
        /* display: flex;
        justify-content: center; */
    }
    .Explore{
        width: 60%;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .Explore .innerTxt{
        padding: 14px 30px;
        text-align: center;
        font-size: 16px;
    }
}


@keyframes spin{
    0%{
        --angle: 0deg;
    }
    100%{
        --angle: 360deg;
    }
}