*, body, html{
    padding: 0;
    margin: 0;
	border: 0;
	font: inherit;
    list-style: none;
    text-align: unset;
	font-size: 100%;
    box-sizing: border-box;
	vertical-align: baseline;
    font-family: "Montserrat", system-ui;

    --white-0: #ffffff;
    --grey-1: #757575;
    --blue-grey-1: #395f74;
    --blue-grey-2: #518eaf;
}

body{
    padding-top: 150px;
    background-color: #00466C;
}

.main{
    background-color: #00466C;
}

a{
    text-decoration: none;
    color: #ffffff;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}


header{
    width: 100%;
    height: 120px;
    display: flex;  
    align-items: center;
    background-color: #00466C;
    margin: 0;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
}

footer{
    background-color: var(--dark-blue-bg);
    display: flex;
    flex-direction: column;
    position:static;
    bottom: 0;
    left: 0;
    z-index: 10;
    border-top: 1px solid #0f5b84;
    /* box-shadow: -1px 0px 30px #0c3850; */
    padding-bottom: 80px;
}

.toIndex{
    position: absolute;
    top: 0;
    left: 0;
}

.PageXContainer{
    padding: 0px 160px;
}

.PageXContainer-sm{
    padding: 0px 120px;
}

.componentContainer{
    padding: 20px 80px;
}

@media (max-width:1024px) {
    .componentContainer{
        padding: 20px 40px;
    }

    .PageXContainer{
        padding: 0px 120px;
    }
}

@media (max-width:786px) {
    .componentContainer{
        padding: 20px 40px;
    }

    .PageXContainer{
        padding: 0px 80px;
    }
}

@media (max-width:430px) {
    .componentContainer{
        padding: 20px 20px;
    }

    .PageXContainer{
        padding: 0px 60px;
    }
}