*, body, html{
    padding: 0;
    margin: 0;
	border: 0;
	font: inherit;
    list-style: none;
    text-align: unset;
	font-size: 100%;
    box-sizing: border-box;
	vertical-align: baseline;
    font-family: "Montserrat", system-ui;
}

body{
    padding-top: 150px;
}

.main{
    background-color: #00466C;
}

a{
    text-decoration: none;
}

/* img{
    width: 100%;
} */

header{
    width: 100%;
    display: flex;  
    align-items: center;
    background-color: #00466C;
    margin: 0;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
    height: 120px;
}

.toIndex{
    position: absolute;
    top: 0;
    left: 0;
}

.container{
    margin-top:100px;
}

.PageXContainer{
    padding: 0px 160px;
}

.componentContainer{
    padding: 20px 80px;
}

@media (max-width:1024px) {
    .componentContainer{
        padding: 20px 40px;
    }

    .PageXContainer{
        padding: 0px 120px;
    }
}

@media (max-width:786px) {
    .componentContainer{
        padding: 20px 40px;
    }

    .PageXContainer{
        padding: 0px 80px;
    }
}

@media (max-width:430px) {
    .componentContainer{
        padding: 20px 20px;
    }

    .PageXContainer{
        padding: 0px 60px;
    }
}